<% include ../partials/header %>

<section class="container">

  <% products.forEach(function(items) { %>
    <div class="row">
      <%  items.forEach(function(item) { %>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img class="img-responsive" src="<%= item.imagePath %>" alt="...">
            <div class="caption">
              <h3><%= item.title %></h3>
              <p class="description"><%= item.description %></p>
              <div class="clearfix">
                <div class="price pull-left">$<%= item.price %></div>
                <a href="/add-to-cart/<%= item._id %>" class="btn btn-primary pull-right" role="button">Add to Cart</a>
              </div>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  <% }) %>

</section>

<% include ../partials/footer %>
